# EXP 1: To Implement a Python Script to Import and Export Data using Python Pandas

In [1]:
import pandas as pd 
data=pd.read_csv("employee.csv") 
print(data.head(6))
print(data.tail(6))

   EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0          198     Donald   OConnell  DOCONNEL  650.507.9833  21-JUN-07
1          199    Douglas      Grant    DGRANT  650.507.9844  13-JAN-08
2          200   Jennifer     Whalen   JWHALEN  515.123.4444  17-SEP-03
3          201    Michael  Hartstein  MHARTSTE  515.123.5555  17-FEB-04
4          202        Pat        Fay      PFAY  603.123.6666  17-AUG-05
5          203      Susan     Mavris   SMAVRIS  515.123.7777  07-JUN-02

     JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0  SH_CLERK    2600             -         124             50
1  SH_CLERK    2600             -         124             50
2   AD_ASST    4400             -         101             10
3    MK_MAN   13000             -         100             20
4    MK_REP    6000             -         201             20
5    HR_REP    6500             -         101             40
    EMPLOYEE_ID FIRST_NAME   LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
44          135         Ki         Gee      KGEE  650.127.1734  12-DEC-07
45          136      Hazel  Philtanker  HPHILTAN  650.127.1634  06-FEB-08
46          137     Renske      Ladwig   RLADWIG  650.121.1234  14-JUL-03
47          138    Stephen      Stiles   SSTILES  650.121.2034  26-OCT-05
48          139       John         Seo      JSEO  650.121.2019  12-FEB-06
49          140     Joshua       Patel    JPATEL  650.121.1834  06-APR-06

      JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
44  ST_CLERK    2400             -         122             50
45  ST_CLERK    2200             -         122             50
46  ST_CLERK    3600             -         123             50
47  ST_CLERK    3200             -         123             50
48  ST_CLERK    2700             -         123             50
49  ST_CLERK    2500             -         123             50

In [2]:
import pandas as pd 
import numpy as np 
IcecreamType={"A":[0,1,1], "B":[1,0,1], "C":[1,1,1]} 
df=pd.DataFrame(IcecreamType,index=("Vanilla","Butterscotch","Chocolate")) 
print(df)

              A  B  C
Vanilla       0  1  1
Butterscotch  1  0  1
Chocolate     1  1  1

In [6]:
df.to_csv("C:\\Users\honey\Desktop\Class time\ML\LAB OPs\icecream.csv")